.button {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #f1f1f1;
    border: 1px solid #c7c7c7;
    color: #3a3a3a;
    transition: all .15s ease-in-out;
    cursor: not-allowed;

    &.active {
        background: linear-gradient(211deg, rgba(138,255,0,1) 0%, rgb(217, 255, 129) 46%, rgb(174, 255, 108) 58%, rgba(56,208,0,1) 100%);
        border: lime;
        color: #004904;
        cursor: pointer;
    }

    &.loading {
        width: 50px;
        background: #e2e2e2;
        cursor: progress;
    }

    .img_loading {
        width: 35px;
        height: 35px;
    }
}